#green
version: '3'
services:
  backend:
    build: .
    ports:
      - "8082:8080"
    container_name: spring-green
    environment:
      TZ: "Asia/Seoul"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - /home/ubuntu/app/log:/log